extends ./partials/layout.jade

block title
    title Вы не знаете CSS!

block slides

    article.cloud.center.ydncss
        h1 
            p.wrapper Вы 
                br 
                | не знаете CSS 

    article.cloud.center.ydncss-2
        h1 
            p.wrapper когда вы в последний раз читали новые черновики?

    article.cloud.center.ydncss-3
        h1 
            p.wrapper Месяц назад?

    article.cloud.center.ydncss-4
        h1 
            p.wrapper Пол года?

    article.cloud.center.ydncss-5
        h1 
            p.wrapper Год?

    article.cloud.center.ydncss-6
        h1 
            p.wrapper Что за черновики?!

    article.cloud.center.ydncss-7
        h1 
            p.wrapper Вы 
                br 
                | не знаете CSS 

    //- article.cloud.center.ydncss-8
    //-     h1 
    //-         p.wrapper Сучки

    article.cloud.center.where
        h1 
            p.wrapper А где  
                br
                | искать
                | спеки?

    article.center.qrcode.csswg
        .wrapper
            .half
                h2 CSS Working Group Editor Drafts
            .half
                img(src="images/csswged.svg", alt="QRCODE cо ссылкой на CSS Working Group Current Work")
            p 
                a(href="https://drafts.csswg.org/", data-click=true) http://drafts.csswg.org/

    article.screen.screen--drafts

    article.center.qrcode.csswg
        .wrapper
            .half
                h2 CSS Working Group
            .half
                img(src="images/csswg.svg", alt="QRCODE cо ссылкой на CSS Working Group Current Work")
            p 
                a(href="http://w3.org/Style/CSS/current-work", data-click=true) http://w3.org/Style/CSS/current-work

    article.screen.screen--csswg

    article.center.qrcode.csswg
        .wrapper
            .half
                img(src="images/maturity.png", alt="Аббривеатуры")
            .half
                img(src="images/maturity.svg", alt="QRCODE cо ссылкой на описание жизненного цикла спецификации")
            p 
                a(href="https://www.w3.org/2005/10/Process-20051014/tr#maturity-levels", data-click=true) https://goo.gl/l6dYhc

    article.cloud.center.roadmap
        h1 
            p.wrapper Roadmap

    article.screen.screen--webkit

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 Webkit Feature Status
            .half
                img(src="images/webkit.svg", alt="QRCODE cо ссылкой на Webkit Feature Status")
            p 
                a(href="https://webkit.org/status/", data-click=true) https://webkit.org/status/

    article.screen.screen--chrome

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 Chrome Platform Status
            .half
                img(src="images/chrome.svg", alt="QRCODE cо ссылкой на Chrome Platform Status")
            p 
                a(href="https://www.chromestatus.com/features", data-click=true) http://chromestatus.com/features

    article.screen.screen--ie

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 MS Edge Platform Status
            .half
                img(src="images/ie.svg", alt="QRCODE cо ссылкой на MS Edge Platform Status")
            p 
                a(href="https://developer.microsoft.com/en-us/microsoft-edge/platform/status/", data-click=true) https://goo.gl/Rn9l8J

    article.screen.screen--ff

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 Firefox Platform Roadmap
            .half
                img(src="images/ffold.svg", alt="QRCODE cо ссылкой на Firefox Platform Roadmap")
            p 
                a(href="https://wiki.mozilla.org/Platform/Roadmap", data-click=true) https://goo.gl/0a35R

    article.screen.screen--webplatform

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 Firefox Platform Status
            .half
                img(src="images/ff.svg", alt="QRCODE cо ссылкой на Firefox Platform Status")
            p 
                a(href="https://platform-status.mozilla.org/", data-click=true) https://goo.gl/L4Hr02



    article.cloud.center.contribute
        h1 
            p.wrapper А ведь могли бы и помочь!

    article.center.qrcode.csswg-git
        .wrapper
            .half
                h2 Репозиторий с черновиками рабочей группы CSS
            .half
                img(src="images/csswg-git.svg", alt="QRCODE cо ссылкой на репозиторий с черновиками")
            p 
                a(href="https://github.com/w3c/csswg-drafts", data-click=true) https://github.com/w3c/csswg-drafts

    article.screen.screen--pr

    article.center.qrcode.selenit
        .wrapper
            .half
                img.avatar(src="images/selenit.jpg", alt="Фотографи Ильи Стрельцына")
                h2 Илья Стрельцын 
                    br
                    | SelenIT
            .half
                img(src="images/selenit.svg", alt="QRCODE cо ссылкой на твиттер Ильи")
            p 
                a(href="https://twitter.com/@selenit2", data-click=true) https://twitter.com/@selenit2

    article.screen.screen--why

    article.cloud.center.knowlage
        h1 
            p.wrapper Знания 
                br
                | и имя это потенциальные деньги!

    article.illustration.illustration--point


    article.cloud.motion
        h1
            p.wrapper Motion Path Module Level 1

    article.center.code-1
        .wrapper
            pre
                code.css=".plane {\n\tmotion-path: path('M 300,150 \n\t\tQ 900,100 1000,550 \n\t\tL 440,400 \n\t\tQ 470,60 900,100 \n\t\tz');\n}"

    article.example.example--motion
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4
        .sqr.sqr--1
        .sqr.sqr--2
        .label.label--1 1
        .label.label--2 2
        .label.label--3 3
        .label.label--4 4
        svg(width="1200", height="675")
            <path stroke="white" stroke-dasharray="20, 30" stroke-width="5" fill="none" d="M 300,150 Q 1000,250 1000,550 L 440,400 Q 470,60 900,100 z"/>
            <path stroke="white" stroke-width="3" d="M 300,150 L 1000,250" />
            <path stroke="white" stroke-width="3" d="M 440,400 L 470,60" />
            
    article.center.code-1
        .wrapper
            pre
                code.css=".plane {\n\tmotion-offset: 50%;\n}"

    article.example.example--motion.example--motion-step-1
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4
        .sqr.sqr--1
        .sqr.sqr--2
        .label.label--1 1
        .label.label--2 2
        .label.label--3 3
        .label.label--4 4
        svg(width="1200", height="675")
            <path stroke="white" stroke-dasharray="20, 30" stroke-width="5" fill="none" d="M 300,150 Q 1000,250 1000,550 L 440,400 Q 470,60 900,100 z"/>
            <path stroke="white" stroke-width="3" d="M 300,150 L 1000,250" />
            <path stroke="white" stroke-width="3" d="M 440,400 L 470,60" />
          
    article.center.code-2
        .wrapper
            pre
                code.css=".plane {\n\tanimation: planefly 10s infinite linear;\n}\n@keyframes planefly {\n\t0% {\n\t\tmotion-offset: 0;\n\t}\n\t100% {\n\t\tmotion-offset: 100%;\n\t}\n}"

    article.example.example--motion.example--motion-step-2
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4
        .sqr.sqr--1
        .sqr.sqr--2
        .label.label--1 1
        .label.label--2 2
        .label.label--3 3
        .label.label--4 4
        svg(width="1200", height="675")
            <path stroke="white" stroke-dasharray="20, 30" stroke-width="5" fill="none" d="M 300,150 Q 1000,250 1000,550 L 440,400 Q 470,60 900,100 z"/>
            <path stroke="white" stroke-width="3" d="M 300,150 L 1000,250" />
            <path stroke="white" stroke-width="3" d="M 440,400 L 470,60" />  

    article.center.code-2
        .wrapper
            pre
                code.css=".plane {\n\tmotion-rotation: 90deg;\n}"

    article.example.example--motion.example--motion-step-3
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4
        .sqr.sqr--1
        .sqr.sqr--2
        .label.label--1 1
        .label.label--2 2
        .label.label--3 3
        .label.label--4 4
        svg(width="1200", height="675")
            <path stroke="white" stroke-dasharray="20, 30" stroke-width="5" fill="none" d="M 300,150 Q 1000,250 1000,550 L 440,400 Q 470,60 900,100 z"/>
            <path stroke="white" stroke-width="3" d="M 300,150 L 1000,250" />
            <path stroke="white" stroke-width="3" d="M 440,400 L 470,60" /> 

    article.center.code-2
        .wrapper
            pre
                code.css=".plane {\n\tmotion-rotation: reverse;\n}"

    article.example.example--motion.example--motion-step-4
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4
        .sqr.sqr--1
        .sqr.sqr--2
        .label.label--1 1
        .label.label--2 2
        .label.label--3 3
        .label.label--4 4
        svg(width="1200", height="675")
            <path stroke="white" stroke-dasharray="20, 30" stroke-width="5" fill="none" d="M 300,150 Q 1000,250 1000,550 L 440,400 Q 470,60 900,100 z"/>
            <path stroke="white" stroke-width="3" d="M 300,150 L 1000,250" />
            <path stroke="white" stroke-width="3" d="M 440,400 L 470,60" />  

    article.center.code-1
        .wrapper
            pre
                code.css=".plane {\n\tmotion: path('M 300,150 \n\t\tQ 900,100 1000,550 \n\t\tL 440,400 \n\t\tQ 470,60 900,100 \n\t\tz') 0 auto;\n}"

    article.example.example--motion.example--motion-step-5
        .plane
        .point.point--1
        .point.point--2
        .point.point--3
        .point.point--4

    article.screen.screen--motion-support

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 Motion Path Module Level 1
            .half
                img(src="images/motion.svg", alt="QRCODE cо ссылкой на CSS Round Display Level 1")
            p 
                a(href="https://www.w3.org/TR/motion-1/", data-click=true) https://www.w3.org/TR/motion-1/

    article.cloud.center.images
        h1 
            p.wrapper Изображения

    article.center.code-1
        .wrapper
            pre
                code.css=".img {\n\tobject-fit: cover;\n\tobject-position: 100% 50%;\n}"

    article.center.middle
        .wrapper
            img(src="images/paddington.jpg", alt="Иллюстрация")

    article.example.example--fit.center
        .wrapper
            .half
                img.small(src="images/paddington.jpg", alt="Иллюстрация")
                mark object-fit: fill;
            .half
                img.big(src="images/paddington.jpg", alt="Иллюстрация")
                mark object-fit: cover;

    article.screen.screen--support-fit

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 object-fit Polyfill
            .half
                img(src="images/fit.svg", alt="QRCODE cо ссылкой на object-fit Polyfill")
            p 
                a(href="https://github.com/bfred-it/object-fit-images/", data-click=true) https://goo.gl/igf2JE


    article.center.code-1
        .wrapper
            pre
                code.css=".container {\n\tbackground-image: cross-fade(\n\t\turl(source-1.png), \n\t\turl(source-2.png), \n\t\t50%);\n}"

    article.example.example--crossfade-source

    article.example.example--crossfade

    article.screen.screen--support-cross

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Image Values and Replaced Content Module Level 3
            .half
                img(src="images/image.svg", alt="QRCODE cо ссылкой на CSS Image Values and Replaced Content Module Level 3")
            p 
                a(href="https://drafts.csswg.org/css-images-3/", data-click=true) https://drafts.csswg.org/css-images-3/

    article.center.code-1
        .wrapper
            pre
                code.css=".container {\n\tbackground: element(#id);\n}"

    article.screen.screen--element-examples

    article.screen.screen--support-element

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Image Values and Replaced Content Module Level 4
            .half
                img(src="images/image4.svg", alt="QRCODE cо ссылкой на CSS Image Values and Replaced Content Module Level 3")
            p 
                a(href="https://drafts.csswg.org/css-images-4/", data-click=true) https://drafts.csswg.org/css-images-4/

    article.cloud.center.round
        h1
            p.wrapper CSS Round Display

    article.blockquote
        blockquote 
            time Aug 4, 2016 
            cite Hyojin Song
            p I think CSS Round Display isn’t for the browser in smart watch, but we are considering the situation to make progress our standard activity.
            p In the webOS-based smart watches most applications are developed using html/css/js, so we need to extend existing CSS specification.

    article.blockquote
        blockquote 
            time Aug 4, 2016 
            cite Hyojin Song
            p The major Web-based platforms are Tizen by Samsung and webOS by LG as well as Firefox OS by Mozilla you mentioned.

    article.illustration.illustration--ffos

    article.blockquote
        blockquote 
            time Dec 8, 2015 
            cite Mozlando
            p Farewell Firefox OS smartphones. Mozilla today announced an end to its smartphone experiment, and said that it would stop developing and selling Firefox OS smartphones. It will continue to experiment on how it might work on other connected devices and Internet of Things networks.

    article.illustration.illustration--b2gos

    article.illustration.illustration--nope

    article.illustration.illustration--tizen
    
    article.illustration.illustration--gear2

    article.illustration.illustration--gears2
            
    article.illustration.illustration--lgwebos

    article.illustration.illustration--urban

    article.screen.screen--stats

    article.cloud.center.media
        h1
            p.wrapper Но как я узнаю, что круглый дисплей — круглый?

    article.center.code-1
        .wrapper
            pre
                code.css="<link media=\"screen and (device-radius: 0%)\" \n\trel=\"stylesheet\" \n\thref=\"rectangle.css\" />\n<link media=\"screen and (device-radius: 50%)\" \n\trel=\"stylesheet\" \n\thref=\"round.css\" />"

    article.center.code-1
        .wrapper
            pre
                code.css="@media screen and (device-radius: 0%) {\n\t\\* Прямоугольный дисплей *\\\n}\n@media screen and (device-radius: 50%) {\n\t\\* Круглый дисплей *\\\n}"

    article.cloud.center.sure-1
        h1
            p.wrapper Не вижу такого в 
                mark Media Queries Level 4
                | !

    article.cloud.center.media
        h1
            p.wrapper А как заставить текст обтекать границы экрана?


    article.center.code-1
        .wrapper
            pre
                code.css="body {\n\tshape-inside: display;\n}"

    article.watches
        code.example.example--left 
            mark shape-inside: auto;
        code.example.example--right 
            mark shape-inside: display;

        div.display.display--left «Я не хочу писать из-за денег. Я хочу, чтобы мне платили за то, что я пишу», — таков принцип де Линта. Нарушая сложившиеся каноны жанров, Чарльз де Линт создает новый жанр. Его произведения — это городские сказки, где в подчеркнуто урбанистическом мире, в вечно спешащем, разноголосом и многонациональном мегаполисе конца ХХ века разворачиваются удивительные и загадочные события. «В этом как раз вся суть, — говорит автор, — поставить мифологический архетип в современные, нарочито реальные обстоятельства. И наоборот — обыкновенного человека, желательно реалиста и материалиста, забросить в подчеркнуто мифологическую ситуацию». Сам писатель определяет своё творчество как «мифологическую фантазию», синтез реализма, мифа и народной сказки.
        div.display.display--right
            span.shape.shape--right
            span.shape.shape--left
            span «Я не хочу писать из-за денег. Я хочу, чтобы мне платили за то, что я пишу», — таков принцип де Линта. Нарушая сложившиеся каноны жанров, Чарльз де Линт создает новый жанр. Его произведения — это городские сказки, где в подчеркнуто урбанистическом мире, в вечно спешащем, разноголосом и многонациональном мегаполисе конца ХХ века разворачиваются удивительные и загадочные события. «В этом как раз вся суть, — говорит автор, — поставить мифологический архетип в современные, нарочито реальные обстоятельства. И наоборот — обыкновенного человека, желательно реалиста и материалиста, забросить в подчеркнуто мифологическую ситуацию». Сам писатель определяет своё творчество как «мифологическую фантазию», синтез реализма, мифа и народной сказки.

    article.cloud.center.sure-2
        h1
            p.wrapper Есть в 
                mark CSS Shapes Module Level 2
                | , но нигде не работает!

    article.cloud.center.media
        h1
            p.wrapper А что с рамкой? Которая border?

    article.center.code-1
        .wrapper
            pre
                code.css=".container {\n\tborder-boundary: display;\n}"

    article.watches
        code.example.example--left 
            mark border-boundary: none;
        code.example.example--right 
            mark border-boundary: display;

        div.display.display--left
            div.htop
                .exr.exr--top
            div.hbottom
                .exr.exr--bottom
        div.display.display--right
            div.htop
                .exr.exr--top
            div.hbottom
                .exr.exr--bottom

    article.cloud.center.sure-2
        h1
            p.wrapper В 
                mark CSS Backgrounds and Borders Module Level 4
                |  — ни слова

    article.cloud.center.media
        h1
            p.wrapper А что с координатами? [0;0] не существует?

    article.cloud.center.polar
        h1
            p.wrapper Используем полярную систему координат вместо декартовой!

    article.screen.screen--polar

    article.center.code-1
        .wrapper
            pre
                code.css=".element {\n\tdisplay: polar;\n\tpolar-angle: …;\n\tpolar-distance: …;\n\tpolar-origin: …;\n\tpolar-anchor: …;\n}"

    article.cloud.center.sure-2
        h1
            p.wrapper polar в
                br 
                mark CSS Positioned Layout Module Level 3
                | ? — Нет, не слышали

    article.blockquote
        blockquote 
            time Aug 4, 2016 
            cite Hyojin Song
            p The implementation has been under discussion in Crosswalk and Blink community, so it needs more time to use CSS Round Display API in browsers.

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 CSS Round Display Level 1 Polyfill
            .half
                img(src="images/rdp.svg", alt="QRCODE cо ссылкой на CSS Round Display Level 1 Polyfill")
            p 
                a(href="https://github.com/anawhj/jRound", data-click=true) https://github.com/anawhj/jRound

    article
        .backer(data-click=true)
        iframe.half(src="examples/weather/index_rect.html")
        iframe.half(src="examples/weather/index.html")

    article
        .backer(data-click=true)
        iframe.half(src="examples/facebook/circle.html")
        iframe.half(src="examples/shape-inside/index.html")

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 CSS Round Display Level 1
            .half
                img(src="images/point.svg", alt="QRCODE cо ссылкой на CSS Round Display Level 1")
            p 
                a(href="https://www.w3.org/TR/css-round-display-1/", data-click=true) http://goo.gl/DLo4ry

    article.cloud.center.snap
        h1
            p.wrapper Привязка скрола

    article.center.code-1
        .wrapper
            pre
                code.css=".container {\n\tscroll-snap-type: mandatory;\n\tscroll-snap-stop: always;\n\tscroll-snap-padding: 0;\n}\n.element {\n\tscroll-snap-margin: 0;\n\tscroll-snap-align: none start;\n}"

    article.center.code-1
        .wrapper
            pre
                code.css=".container {\n\tscroll-snap-destination: 0 0;\n\tscroll-snap-points-x: repeat(100%);\n\tscroll-snap-points-y: repeat(20px);\n}\n.element {\n\tscroll-snap-coordinate: 50px 50px;\n}"

    article.example.example--news
        .wrapper
            .half
                ul.line
                    li.item
                        time(datetime="T17:04Z") 17:04
                        | "Нафтогаз" пояснил покупку бронированного "мерседеса" Стокгольмским арбитражем

                    li.item
                        time(datetime="T16:29Z") 16:29
                        | "Манчестер Сити" и "Шальке" провели рекордный трансфер в истории немецкого футбола

                    li.item
                        time(datetime="T16:26Z") 16:26
                        | Фестиваль ГОГОЛЬFEST состоится в Киеве 16-25 сентября

                    li.item
                        time(datetime="T16:02Z") 16:02
                        | Власти Турции реформируют разведку после попытки переворота в стране

                    li.item
                        time(datetime="T15:44Z") 15:44
                        | Савченко считает свой закон идеальным и предлагает переписать другие

                    li.item
                        time(datetime="T15:38Z") 15:38
                        | Слова Трампа об Украине не просто предвыборные "ляпы" - CNN

                    li.item
                        time(datetime="T15:02Z") 15:02
                        | Тайфун Нида в Китае выворачивал с корнем деревья и разрушал дома

                    li.item
                        time(datetime="T15:02Z") 15:02
                        | Россия понесла крупнейшие потери за время войны в Сирии – The Times

                    li.item
                        time(datetime="T14:39Z") 14:39
                        | В оккупированном Кировске неизвестные обстреляли машины боевиков – разведка

                    li.item
                        time(datetime="T14:39Z") 14:39
                        | В оккупированном Кировске неизвестные обстреляли машины боевиков – разведка

                    li.item
                        time(datetime="T14:09Z") 14:09
                        | Церемония открытия Олимпиады в Рио будет недорогой из-за кризиса в Бразилии

                    li.item
                        time(datetime="T13:57Z") 13:57
                        | Каждый пятый украинец поддерживает легализацию оружия

                    li.item
                        time(datetime="T13:32Z") 13:32
                        | Киев прекратил принимать мусор из Львова из-за ремонта на заводе "Энергия"

                    li.item
                        time(datetime="T13:30Z") 13:30
                        | Трамп во главе США сделает развал НАТО легким заданием для Путина – The Atlantic

                    li.item
                        time(datetime="T13:05Z") 13:05
                        | В зоне АТО за сутки ранены двое украинских военных

            .half
                ul.news
                    li.item
                        time(datetime="T17:04Z") 17:04
                        | "Нафтогаз" пояснил покупку бронированного "мерседеса" Стокгольмским арбитражем

                    li.item
                        time(datetime="T16:29Z") 16:29
                        | "Манчестер Сити" и "Шальке" провели рекордный трансфер в истории немецкого футбола

                    li.item
                        img.illustration(src="images/wear.jpg", alt="Иллюстрация")

                    li.item
                        time(datetime="T16:26Z") 16:26
                        | Фестиваль ГОГОЛЬFEST состоится в Киеве 16-25 сентября

                    li.item
                        time(datetime="T16:02Z") 16:02
                        | Власти Турции реформируют разведку после попытки переворота в стране

                    li.item
                        time(datetime="T15:44Z") 15:44
                        | Савченко считает свой закон идеальным и предлагает переписать другие

                    li.item
                        time(datetime="T15:38Z") 15:38
                        | Слова Трампа об Украине не просто предвыборные "ляпы" - CNN

                    li.item
                        time(datetime="T15:02Z") 15:02
                        | Тайфун Нида в Китае выворачивал с корнем деревья и разрушал дома

                    li.item
                        time(datetime="T15:02Z") 15:02
                        | Россия понесла крупнейшие потери за время войны в Сирии – The Times

                    li.item
                        time(datetime="T14:39Z") 14:39
                        | В оккупированном Кировске неизвестные обстреляли машины боевиков – разведка

                    li.item
                        time(datetime="T14:39Z") 14:39
                        | В оккупированном Кировске неизвестные обстреляли машины боевиков – разведка

                    li.item
                        time(datetime="T14:09Z") 14:09
                        | Церемония открытия Олимпиады в Рио будет недорогой из-за кризиса в Бразилии

                    li.item
                        time(datetime="T13:57Z") 13:57
                        | Каждый пятый украинец поддерживает легализацию оружия

                    li.item
                        time(datetime="T13:32Z") 13:32
                        | Киев прекратил принимать мусор из Львова из-за ремонта на заводе "Энергия"

                    li.item
                        time(datetime="T13:30Z") 13:30
                        | Трамп во главе США сделает развал НАТО легким заданием для Путина – The Atlantic

                    li.item
                        time(datetime="T13:05Z") 13:05
                        | В зоне АТО за сутки ранены двое украинских военных


    article.screen.screen--snap-support

    article.center.qrcode.round_link
        .wrapper
            .half
                h2 CSS Scroll Snap Polyfill
            .half
                img(src="images/snapp.svg", alt="QRCODE cо ссылкой на CSS Scroll Snap Module Level 1")
            p 
                a(href="https://github.com/ckrack/scrollsnap-polyfill", data-click=true) http://goo.gl/iH8p6a




    article.center.qrcode.round_link
        .wrapper
            .half
                h2 CSS Scroll Snap Module Level 1
            .half
                img(src="images/snap.svg", alt="QRCODE cо ссылкой на CSS Scroll Snap Module Level 1")
            p 
                a(href="https://drafts.csswg.org/css-scroll-snap/", data-click=true) http://drafts.csswg.org/css-scroll-snap/


    article.cloud.real
        h1
            p.wrapper Я — настоящий механник!

    article.cloud.real
        h1
            p.wrapper А CSS это настоящий язык програм&shy;мирования!

    article.cloud.real
        h1
            p.wrapper В нём есть переменные! Правда!

    article.center.code-1
        .wrapper
            pre
                code.css=":root {\n\t--title-color: #c00;\n\t--text-color: #666;\n}"

    article.center.code-1
        .wrapper
            pre
                code.css=".title {\n\tcolor: var(--title-color);\n}\n.text {\n\tcolor: var(--text-color);\n}"

    article.example.example--var.title
        .wrapper
            h1.title Типографика
            p.text Правила набора и вёрстки текста. Для 95% людей кажутся совершенно бесполезными, но на самом деле не менее важны, чем правила орфографии и пунктуации. Помимо основного назначения (красиво оформлять текст) знание типографики (как и других правил) выдаёт IQ индивида и поэтому помогает выигрывать Специальные Олимпиады. В определённых кругах это понятие неразрывно связано с именем Сами-знаете-кого.

    article.screen.screen--var-support

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Custom Properties for Cascading Variables Module Level 1
            .half
                img(src="images/var.svg", alt="QRCODE cо ссылкой на CSS Custom Properties for Cascading Variables Module Level 1")
            p 
                a(href="https://www.w3.org/TR/css-variables/", data-click=true) http://w3.org/TR/css-variables/


    article.cloud.real
        h1
            p.wrapper В CSS будут кастомные селекторы

    article.center.code-2
        .wrapper
            pre
                code.css="@custom-selector :--heading h1, h2, h3, h4, h5, h6;\n:--heading {\n\t/* Стили заголовков */\n}"

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Extensions
            .half
                img(src="images/custom.svg", alt="QRCODE cо ссылкой на CSS Extensions")
            p 
                a(href="https://drafts.csswg.org/css-extensions/", data-click=true) http://drafts.csswg.org/css-extensions/

    article.cloud.real
        h1
            p.wrapper Можно проверять поддержку свойств

    article.center.code-1
        .wrapper
            pre
                code.css="body {\n\tbackground: red;\n}\n@supports ( position: polar ) {\n\tbody {\n\t\tbackground: green;\n\t}\n}"

    article.example.example--support
        .wrapper
            .half.sticky
                mark 
                    span stack-sizing: stretch-to-fit;
            .half.motion
                mark 
                    span motion-path: path('M 0,0');

    article.screen.screen--support-support

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Conditional Rules Module Level 3
            .half
                img(src="images/support.svg", alt="CSS Conditional Rules Module Level 3")
            p 
                a(href="https://drafts.csswg.org/css-conditional/#at-supports", data-click=true) https://goo.gl/HAUwrG

    article.illusration.illusration--typo

    article.center.code-1
        .wrapper
            pre
                code.css="article {\n\thyphenate-character: \"~\";\n\thyphenate-limit-zone: 10%;\n\thyphenate-limit-chars: 5 2 2;\n\thyphenate-limit-lines: 3;\n\thyphenate-limit-last: always;\n}"

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Text Module Level 4
            .half
                img(src="images/text.svg", alt="QRCODE cо ссылкой на CSS Text Module Level 4")
            p 
                a(href="https://drafts.csswg.org/css-text-4/", data-click=true) https://drafts.csswg.org/css-text-4/

    article.center.code-1
        .wrapper
            pre
                code.css="article {\n\torphans: 5;\n}"

    article.example.example--orphan
        .wrapper
            .vhalf
                p Use CSS generated content for decoration and non-vital information, but make sure it’s properly handled by screen readers, so that people with assistive technology are not distracted. Think “progressive enhancement” when deciding whether to use CSS generated content.
                mark 
                    span orphans: 2;

            .vhalf
                p Use CSS generated content for decoration and non-vital information, but make sure it’s properly handled by screen readers, so that people with assistive technology are not distracted. Think “progressive enhancement” when deciding whether to use CSS generated content.
                mark 
                    span orphans: 5;

    article.screen.screen--orphans-support

    article.center.qrcode.var
        .wrapper
            .half
                h2 Cascading Style Sheets Level 2 Revision 1
            .half
                img(src="images/orphans.svg", alt="QRCODE cо ссылкой на Cascading Style Sheets Level 2 Revision 1")
            p 
                a(href="https://www.w3.org/TR/CSS2/page.html#propdef-orphans", data-click=true) https://goo.gl/GVxe6x

    article.center.code-1
        .wrapper
            pre
                code.css=".source {\n\tflow-into: content-flow;\n}\n.target-1 {\n\tflow-from: content-flow;\n}\n.target-2 {\n\tflow-from: content-flow;\n}"

    article.screen.screen--region

    article.screen.screen--region-order

    article.screen.screen--regions-support

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Regions Module Level 1
            .half
                img(src="images/regions.svg", alt="QRCODE cо ссылкой на CSS Regions Module Level 1")
            p 
                a(href="https://drafts.csswg.org/css-regions/", data-click=true) http://drafts.csswg.org/css-regions/

    article.center.code-1
        .wrapper
            pre
                code.css="aside {\n\twrap-flow: both;\n}"

    article.screen.screen--exclusion

    article.screen.screen--exclusion-support

    article.center.qrcode.var
        .wrapper
            .half
                h2 CSS Exclusions Module Level 1
            .half
                img(src="images/exclusion.svg", alt="QRCODE cо ссылкой на CSS Exclusions Module Level 1")
            p 
                a(href="https://drafts.csswg.org/css-exclusions/", data-click=true) http://drafts.csswg.org/css-exclusions/

    article.cloud.center.ydncss-6
        h1 
            p.wrapper Читайте
                br 
                | черновики

    article.contacts.center.qrcode
        .wrapper
            .about-speaker.half
                p.name Антон Немцев
                p.link http://silentimp.info/
                p.twitter @silentimp
                p.email thesilentimp@gmail.com
                p.skype skype: ravencry
            .half
                img(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")
            
            p 
                a(href="https://github.com/SilentImp/youDontKnowCSS", data-click=true) https://goo.gl/d8iCDT
